/* PrivacyPolicy.css */
.app-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Full viewport height */
    padding: 0; /* No padding */
    margin: 0; /* No margin */
    background-color: #F0F5FB; /* Optional: background color */
  }
  
  .icon-home {
    width: 12px; 
    height: 12px;
  }
  
  .privacy-policy {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 50px; /* Add padding */
    background-color: #F0F5FB; /* Optional: background color */
  }
  
  .privacy-heading {
    width: 40%; 
    padding: 20px;
  }
  
  .privacy-heading a {
    color: gray;
    font-size: 18px;
    font-weight: 500; 
    margin-right: 10px; 
  }
  
  .privacy-heading span {
    color: rgb(75, 75, 75);
    font-size: 20px;
    font-weight: 500;
  }
  
  .privacy-heading h1 {
    font-size: 55px;
    font-weight: 600;
    margin: 20px 0px 20px 0px;
    color: #47141E;
  }
  
  .privacy-heading p {
    color: gray;
    font-size: 20px;
  }
  
  .privacy-content {
    margin: 50px 0px 50px 0px;
  }
  
  .privacy-section h2 {
    font-size: 34px;
    color: #47141E;
    font-weight: 600;
  }
  
  .privacy-section p {
    font-size: 17px;
    color: #056DAE;
    margin-top: 10px;
  }
  
  .team-container {
    width: 100%;
    margin-top: 50px;
  }
  
  .team-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Make it responsive */
    gap: 20px; /* Add space between elements */
  }
  
  .team-section-elem {
    width: 48%; 
  }
  
  .team-section-elem h2 {
    font-size: 34px;
    color: #47141E;
  }
  
  .team-section-elem p {
    margin: 30px 0px 30px 0px;
    font-size: 20px;
    color: #056DAE;
    line-height: 32px;
    font-weight: 500;
  }
  
  #privacy-btn {
    height: 35px;
    width: 120px;
    background: #056DAE;
    border: none;
    border-radius: 18px;
    color: white;
    font-size: 13px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.6s;
  }
  
  #privacy-btn:hover {
    background: transparent;
    border: 1px solid #056DAE;
    color: #47141E;
  }
  
  .privacy-img {
    width: 90%;
    height: auto;
  }
  
  /* Media Queries */
  @media only screen and (max-width: 575.98px) {
    .app-wrapper {
      display: block;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      min-height: auto;
      max-width: 97%;
      margin-top: 30px;
    }
  
    .privacy-policy {
      width: 90%;
      flex-direction: column;
      margin: 0;
      padding-left: 10px;
    }
  
    .privacy-heading {
      width: 99%;
      padding: 0px;
    }
  
    .privacy-heading h1 {
      font-size: 38px;
    }
  
    .privacy-heading p {
      font-size: 18px;
    }
  
    .privacy-section h2 {
      font-size: 30px;
    }
  
    .team-section {
      flex-direction: column;
    }
  
    .team-section-elem {
      width: 100%;
    }
  }
  
  @media only screen and (min-width: 576px) and (max-width: 767.98px) {
    .app-wrapper {
      display: block;
      justify-content: flex-start;
      align-items: flex-start;
      padding: 0;
      min-height: auto;
      max-width: 97%;
      margin-top: 30px;
    }
  
    .privacy-policy {
      width: 90%;
      flex-direction: column;
      margin: 0;
      padding-left: 10px;
    }
  
    .privacy-heading {
      width: 99%;
      padding: 0px;
    }
  
    .privacy-heading h1 {
      font-size: 38px;
    }
  
    .privacy-heading p {
      font-size: 18px;
    }
  
    .privacy-section h2 {
      font-size: 30px;
    }
  
    .team-section {
      flex-direction: column;
    }
  
    .team-section-elem {
      width: 100%;
    }
  }