.voucher-main{
    width: 500px;
    min-height: fit-content !important;
    height: 500px;
    padding-top: 70px;
}

.voucher-container{
    min-height: 400px;
}
.voucher-search{
    box-shadow: rgba(0, 0, 0, 0.24) 2px 3px 8px;
    margin-top: 33px; 
     height: 40vh;
     padding: 20px;
     border-radius: 20px;
}
.voucher-price{
    font-size: 18px;
}