.footer{
    background: #0D003F;
}
.footer-row{
    gap: 35px;
    padding: 30px 0px 30px 0px;
}
.footer-content-container{
    height: 50vh;
    min-height: fit-content;
}

.footer-list-item-container{
    list-style: none;
    margin-top: 30px;
}
.footer-list-item-container h4{
    color: white;
}
.footer-menu-item-container{
    list-style: none;
    margin-top: 30px;

}
.footer-menu-item-container h4{
    color: white;
}

.footer-list-item{
    color: white;
margin-top: 14px;

}

.footer-menu-item{
    color: white;
    margin-top: 14px;
}

.footer-content-container-2{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.footer-content-container-2 h2{
margin-top: 30px;
color: white;
font-weight: 600;
text-align: center;
font-size: 35px;
}
.footer-content-container-2 p{
    color: white;
font-weight: 500;
text-align: center;
width: 95%;
font-size: 18px;
margin-top: 12px;


}
#work-t-btn{
   margin-top: 30px;
   width: 60%;
   color: black;
   padding: 10px;
   background: white;
   border-radius: 10px;
   font-size: 20px;
   font-weight: 700;
   text-align: center;
   text-decoration: none;

}

#work-t-btn:hover{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

.social-icons{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
   justify-content: space-evenly;
   }
  
   .footer-svg-container{
    background: white;
    border-radius: 18px;
   }

#emil-id{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 18px ;
}
#number{
    text-align: center;
    color: white;
    margin-top: 30px;
    font-size: 18px ;
}

.legal{
    color: white;
    width: 83%;
    margin: auto;
}
.copy-rights{
    color: white;
    text-align: center;
    border-top: 1px solid rgb(172, 172, 172);
    width: 70%;
    padding-top: 15px;
}