
.credit-card-main{
    padding-top: 60px;
  }
  .loader{
    font-size: 30px;
    position: fixed;
    top: 70px;
    left: 45%;
  }
  .credit-card-hero{
    width: 85%;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../../../public/credit-card/ahb-debit-listing-1320x500pix_tcm50-542479.webp');
    color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    margin: auto;
    border-radius: 60px;
    
  }
  
  .credit-card-hero::before{
    content: ''; /* Required to create a pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter:blur(1px); */
    
    z-index: 1; /* Puts the blur and white tint on top of the background image */
  }
  
  .filter-container {
    z-index: 10;
    position: relative;
  }
  
  .credit-card-hero-content{
    position: relative;
    z-index: 2;
    padding: 24px;
    border-radius: 30px;
  }
  .credit-card-hero-content h1{
    font-size: 52px;
    color: #fda50c ;
    font-weight: 700;
  }
  
  .card-container{
    width: 450px;
    z-index: 2;
    margin-top: 30px;
    
  }
  .filter-container-drop-down{
    width: 400px;
  }
  .search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    z-index: 11;
    position: relative;
    margin: 0px 0px 20px 0px;
  }
  
  .filters{
    margin-left: 40px;
  }
  
  .filter-txt{
    color: #056DAE;
    background: #ededed;
    padding: 10px;
    border-radius: 20px;
    font-size: 18px;
  }
  
  .search-container-item{
    
  }
  
  
  .search-wrapper {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    width: 350px; 
    padding-left: 35px; 
    transition: width 0.3s ease;
    padding: 10px;
    padding-left: 35px;
    border-radius: 30px;
    outline: none;
  }
  
  .search-input:focus {
    width: 450px; /* Expanded size when focused */
    outline: 1px solid #5f6ce3;
  }
  
  .search-icon {
    position: absolute;
    left: 10px; /* Position the icon inside the input */
    font-size: 18px; /* Adjust icon size */
    color: gray;
    pointer-events: none; 
    
  }
  
  .card{
  /* min-height: 80vh; */
  padding-bottom: 60px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  transition: 0.5s ease;
  
  }
  .card:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.02); /* Grows the element by 20% */
    transition: transform 0.3s ease;
  }
  .card-img-container{
    width: 80%;
    min-height: 280px;
    background: #E0E1E2;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    border-radius: 30px;
  }
  .card-img{
   width: 70%;
   margin: auto;
  }
  
  .card-detail-section{
   margin-left: 55px;
   margin-top: 30px;
  }
  .card-collapse-dropdown{
    min-width: fit-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  
    width: 100px;
    padding: 0px 5px 0px 5px;
    border-radius: 35px;
  
  }
  .card-des{
    font-size: 20px;
    font-weight:300;
    color: rgb(82, 82, 82);
  }
  
  .card-apply-btn{
    width: 160px;
    background: linear-gradient(267deg, #0f0f28 0, #1e2ca5 100%);
    color: white !important;
    padding: 10px;
    border-radius: 30px;
    border: none;
  
  }
  
  .card-learn-more-btn{
    width: 160px;
    background: transparent;
    color: black;
    padding: 10px;
    border-radius: 30px;
    border: 1px solid #0e1345;
    margin-left: 20px;
    margin-bottom: 50px;
  }
  .card-link{
    text-decoration: none;
    color: inherit;
  }
  
  .card-name {
    font-size: 24px;
    font-weight: 700; /* Bold weight */
    color: #0e1345; /* Dark color for emphasis */
    margin-bottom: 10px; /* Adds spacing between elements */
  }
  
  .bank-name {
    font-size: 25px;
    font-weight: 600; /* Slightly less bold */
    color: #1e2ca5; /* Highlight with a shade of blue */
    margin-bottom: 15px; /* Adds spacing */
  }
  .detail-card-txt{
    font-size: 20px;
    font-weight: 400; /* Bold weight */
    color: #0e1345; /* Dark color for emphasis */
    margin-bottom: 10px; 
  }
  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
  }
  
  .pagination-btn {
    background-color: #f0f0f0;
    color: #333;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease, color 0.3s ease;
    margin-bottom: 50px;
  }
  
  .pagination-btn:hover {
    background-color: grey;
    color: #fff;
  }
  
  .pagination-btn.active {
    background-color: grey;
    color: #fff;
    border-color: grey;
    font-weight: bold;
  }
  
  @media (max-width: 992px){
    .search-container{
      flex-direction: column-reverse;
      margin: auto;
      justify-content: center;
      align-items: 
      center;
    
      
    }
    .filters{
      margin-top: 20px;
    }
  }